<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>

<body>
    <script src="lib/jquery.js"></script>
    <!-- 1. 导入模板引擎js库文件 -->
    <script src="lib/template-web.js"></script>

    <script id="my-tpl" type="text/html">
    <!-- 2. 实现模板结构并填充数据 -->
    <ul>
        <li>姓名: {{name}}</li>
        <li>年龄: {{age}}</li>
        <li>性别: {{gender}}</li>
        <!-- 1. 插值用法 ==> {{@ value}} -->
        <li>分数: {{@score}}</li>

        <!-- 2. 条件渲染 ==> {{if value}} ... {{/if}} -->
        <li>性别:
            {{if sex === 0}}女
            {{else if sex === 1}}男
            {{else}}未知
            {{/if}}
        </li>

        <!-- 3. 列表渲染 ==> {{each}} {{$index}} {{$value}} {{/each}} -->
        <li>爱好:
            {{each hobby}}
            <em style="color:green">
                {{$index+1}}: {{$value}}
            </em>
            {{/each}}
        </li>

        <!-- 4. 过滤器  ==>  注册过滤器template.defaults.imports -->
        <li>生日: {{birthday | getBirthday}}</li>
        <li>昵称: {{nickname | changeNickname}}</li>
    </ul>
    </script>

    <script>
        $(function () {
            // art-template 常用模板语法
            // 1. 插值用法 ==>  {{@ value}}
            //    如果插值显示时添加@符号, 那么浏览器会解析其中的内容包含标签: 比如h1标签会加粗
            //    默认不加@符号, 显示原始的字符串, 不会渲染标签     （类似于 innerText和innerHTML的区别）
            // 2. 条件渲染 ==> {{if value}} ... {{/if}}
            // 3. 列表渲染 ==> {{each}} {{$index}} {{$value}} {{/each}}
            // 4. 过滤器  ==>  注册过滤器template.defaults.imports
            var userInfo = {
                name: '张三',
                age: 18,
                gender: '男',
                score: '<b style="color: red;">100分</b>',
                sex: '人妖',
                hobby: ['抽烟', '喝酒', '烫头', '吃饭', '睡觉', '打豆豆'],
                birthday: new Date(),
                nickname: 'jacky-tien'
            }

            // 通过art-template自定义过滤器
            // 注册过滤器template.defaults.imports是 art-template模板引擎规定的
            // 参数表示原始的数据
            template.defaults.imports.getBirthday = function (date) {
                var y = date.getFullYear()
                var m = date.getMonth() + 1
                m = m < 10 ? '0' + m : m
                var d = date.getDate()
                d = d < 10 ? '0' + d : d
                return y + '-' + m + '-' + d
            }
            template.defaults.imports.changeNickname = function (str) {
                var arr = str.split('-')
                $.each(arr, function (i) {
                    arr[i] = arr[i][0].toUpperCase() + arr[i].slice(1)
                })
                return arr.join('')

                // return str.charAt(0).toUpperCase() + str.slice(1)
            }

            var uTag = template('my-tpl', userInfo)

            $('body').prepend(uTag)
        })
    </script>
</body>

</html>